@CHARSET "UTF-8";

html, body{	
	width: 100%;
	height: 100%;
	padding: 0;
	margin: 0;
}

.main-div{
	padding: 0;
	margin: 0;
	position: absolute;
	width: 100%;
	height: 100%;
}

.h-div-1, .h-div-2{	 
	padding: 0;
	margin: 0;
	width: 100%;	 
}

.h-div-1{
	height: 12%;
}

.h-div-2{
	height: 75%;
}

.column{
	width: 50%;
	height: 100%;
	float: left;
	padding: 0;
	margin: 0;
}

.info{
	float: left;	 
	height: 100%;
	width: 98.4%;
	margin: 10px;
	border-width: 1px;
	border-color: #CCCCCC;
	border-style: solid;
	background-color: #EEEEEE;
}

.info-text{
	width: 98%;
	margin: 5px;
	font-size: 12pt;
}

.important{
	font-weight: 800;
	text-transform: uppercase;
	padding-right: 10px;
}
 
.column-interior{
	margin: 10px;
	border-width: 1px;
	border-color: #CCCCCC;
	border-style: solid;
	padding: 5px;
	height: 100%;
}

.control-select{
	width: 30%;
}

.h-div-selector{
	height: 5%;
	margin-bottom: 10px;
}

.h-div-data{
	padding: 5px;
	height: 95%;
}

.wage-data table{
	width: 100%;
	height: 100%;
	padding: 0;
	margin: 0;
	border-left: 1px solid #CCCCCC;
	border-top: 1px solid #CCCCCC;
	border-collapse: collapse;
}

.wage-data tr{
	padding: 0;
	margin: 0;
	width: 100%;
}

.wage-data th, td {	 
	margin: 0;
	border-bottom: 1px solid #CCCCCC;
	border-right: 1px solid #CCCCCC;
}

.wage-data th {
	padding: 0;
	background-color: #EEEEEE;
}

.wage-data td {
	padding: 10px;
}

.details-link{
	float: right;
	color: #0000FF;
	text-decoration: underline;
	cursor: pointer;
}

.detailed-info-div{
	padding: 10px;
}

.calendar-table table{
	table-layout: fixed;
}

.calendar-table td {
	width: 10%;
}

.work-date{
	background-color: #8Aff8A;
	color: #0000FF;
	text-decoration: underline;
	cursor: pointer;
}

.details-window{
	display: none;
	position: absolute;
	z-index: 99999;
	background-color: #FFFFFF;
}

.shift-info{
	padding: 5px;	
}

.Normal{
	background-color: #38F538;
}

.Evening{
	background-color: #FFDC2E;
}

.Overtime1{
	background-color: #FFCE85;
}

.Overtime2{
	background-color: #FF9980;
}

.Overtime3{
	background-color: #F56C51;
}

.back-to-calendar{
	color: #0000FF;
	text-decoration: underline;
	cursor: pointer;
}